
/* ============================================================================================================================== */
                      /* ABOUT */
/* ============================================================================================================================= */

#call-center-hero-mobile,#hr-hero-mobile,#hmo-hero-mobile,#sales-hero-mobile,#logistics-hero-mobile{
    display:none
}


#sales-hero{
    // background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/about/about-banner.jpg") no-repeat center center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    background: #fff;
    // height: 50vh;
    width: 100%;
    // display: flex;
    // align-items: center;  
   padding:50px 0 100px 0;  
    position: relative;
    .inner-banner-detail{
        height: 100%;
        position: relative;
        .inner-wrap{
            width:100%;
            position: absolute;
            left: 0%;
            top: 40%;
            transform: translatey(-50%);
            
        }
       
        h2{color:$color-3;
            font-size: 30px;
            word-spacing: normal;
            font-weight: 200;
            line-height: 30px;
            margin-bottom: 15px;
            span{color:$color-1;font-size: 34px;
                margin-left: 0;line-height: 40px;
                display: block;font-weight: 900
            }
        } 
       p{color:$text-3;width:80%} 
    }
    .image{
        img{ border-radius: 10% 0% 10% 0%;}
       
    }
    
    
    // background: pink;
    &.debt{
        .inner-banner-detail{
           
        h2{
            span{
                color:$color-3!important;
                font-size: 44px;
                line-height: 45px;
            }
            } 
        }
    }
    
}

@media screen and (max-width: 900px) {
   
    #sales-hero{
    width: 100%;
    display: flex;
    // align-items: center;  
   padding:50px 0 100px 0;  
    position: relative;
    .inner-banner-detail{
 // position: relative;
        .inner-wrap{
            left: 10%;
            // top: 40%;
            // transform: translatey(-50%);
            
        }
       
        h2{color:$color-3;
            font-size: 30px;
            word-spacing: normal;
            font-weight: 200;
            line-height: 30px;
            margin-bottom: 15px;
            span{font-size: 34px;
                margin-left: 0;line-height: 40px;
                display: block;font-weight: 900
            }
        } 
       p{width:80%} 
    }
        
           &.debt{
        .inner-banner-detail{
           
        h2{
            span{
                font-size: 35px;
                line-height: 35px;
            }
            } 
        }
    }
//     .image{
//         img{ border-radius: 10% 0% 10% 0%;}
       
//     }
    
    
    // background: pink;
    
}
    
}
@media screen and (max-width: 766px) {
   
    #sales-hero{
    width: 100%;
    display: flex;
    align-items: center;  
   padding:10px 0 70px 0;  
    position: relative;
    .inner-banner-detail{
 // position: relative;
        .inner-wrap{
            left: 10%;
            // top: 40%;
            // transform: translatey(-50%);
            
        }
       
        h2{
            font-size: 20px;
            line-height: 20px;
            span{
                font-size: 24px;
                margin-left: 0;
                line-height: 25px;
            }
        } 
       p{color:$text-3;width:80%} 
    }
//     .image{
//         img{ border-radius: 10% 0% 10% 0%;}
       
//     }
    
    
    // background: pink;
    
           &.debt{
        .inner-banner-detail{
           
        h2{
            span{
                font-size: 30px;
                line-height: 30px;
            }
            } 
        }
    }
}
    
}
@media screen and (max-width: 560px) {
   
    #sales-hero{
    width: 100%;
    display: flex;
    align-items: center;  
   padding:10px 0 70px 0;  
    position: relative;
    .inner-banner-detail{
 // position: relative;
        .inner-wrap{
            left: 0%;
            // top: 40%;
            // transform: translatey(-50%);
            
        }
       
        h2{
            font-size: 16px;
            line-height: 15px;
            width: 100%;
            text-align: left;
            span{
                font-size: 17px;
                margin-left: 0;
                line-height: 17px;
            }
        } 
       p{display: none} 
    }
      &.debt{
        .inner-banner-detail{
           
        h2{
            span{
                font-size: 25px;
                line-height: 25px;
            }
            } 
        }
    } 
}
    
}
@media screen and (max-width: 440px) {
   
    #sales-hero{
  
    .inner-banner-detail{

       
        h2{
            font-size: 14px;
            line-height: 15px;
            width: 100%;
            text-align: left;
            span{
                font-size: 13px;
                margin: 0;
                line-height: 17px;
            }
        } 
       p{display: none} 
    }
       &.debt{
        .inner-banner-detail{
           
        h2{
            span{
                font-size: 15px;
                line-height: 17px;
            }
            } 
        }
    }
}
    
}



#service-page-clients{
    margin-top: -60px;
    // background: red;
.col-md-10.offset-md-1{
    background: #fff;
    box-shadow: $box-shadow;
     .cert-owl-carousel.owl-carousel.owl-theme{ 
  .item{
      height: 100%;
     min-height: 70px; 
        display: flex;
  align-items: center;   
      
  }
.our-client-img{ width:80%; margin: auto auto }
.our-client-img img{ width: 100%; height: 100%;
filter: grayscale(100%) brightness(120%);
  opacity: .6;-webkit-filter: grayscale(100%) brightness(120%);
  transition: all .9s ease;
}
.our-client-img img:hover{
      cursor: pointer;
  opacity: 1;
  transition: all .9s ease;
  filter: grayscale(0) brightness(100%);
}

.owl-item.active.center .item .our-client-img img{
      cursor: pointer;
  opacity: 1;
  transition: all .9s ease;
  filter: grayscale(0) brightness(100%);
transform: scale(1.1);
}

}
    
    
}//end col
   
} 


@media screen and (max-width: 766px) {
    #service-page-clients{ 
        padding: 0 20px;
        
    }
}

@media screen and (max-width: 400px) {
    #service-page-clients{ 
        padding: 0 20px;
        .item.col{height: 100%;
        
        }
        .our-client-img{ 
            width:80%; 
            // height: 100%!important;
            margin: 0px!important;
            img{ width:100%;
                min-height: 27px
            }
            
        }
    }
}


#sales-main{
padding: 80px 0 80px;
.image{
    position: relative;
    // background: red;
    img{
        margin-left: 20px;
        // display: block;margin: auto;
        
    }
    &::before{
        // .img::after {
position: absolute;
bottom: -20px;
right: -20px;
width: 170px;
height: 170px;
content: " ";
// background-color: rgba(255, 255, 255, 0);
// background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='35' height='35' fill-opacity='0.78' fill='%23cccabe'/%3E%3C/svg%3E);

        // z-index: -4;
// transform: rotate(180deg);
        //    content:'';
        // background: url('asset/img/icon/bg-1.png');
        //     width: 100px;
        //     height: 150px;
        //     background: red;
        //     z-index: 577;
        //     position: absolute;
        //     bottom: -15px;
    } 
}
.content-main{
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100%;
    .content-inner{
        padding-left: 20px;
        h2{color:$color-3;line-height: 30px;
        font-size: 29px; font-weight: 800;margin-bottom: 10px}
    p{color:$color-3;line-height: 21px;opacity: .8; width: 90%;}   
    }
 
}
.what-we-provide{
    margin-top: 40px;
    .title{
        h5{font-size: 30px;color: $color-3;margin-bottom: 20px;}
    }
    .content{
        width: 90%;
        h5{color: $color-2;margin-bottom: 5px;
            font-weight: 600;font-size: 18px}
    }
        
}
}

@media screen and (max-width: 750px) {
#service-page-clients{
    margin-top: -60px;
    // background: red;
.col-md-10.offset-md-1{
    background: #fff;
    box-shadow: $box-shadow;
     .cert-owl-carousel.owl-carousel.owl-theme{ 
  .item{
      height: 100%;
     min-height: 70px; 
        display: flex;
  align-items: center;   
      
  }
.our-client-img{ width:80%; margin: auto auto }
.our-client-img img{ width: 100%; height: 100%;
filter: grayscale(100%) brightness(120%);
  opacity: .6;-webkit-filter: grayscale(100%) brightness(120%);
  transition: all .9s ease;
}
.our-client-img img:hover{
      cursor: pointer;
  opacity: 1;
  transition: all .9s ease;
  filter: grayscale(0) brightness(100%);
}

.owl-item.active.center .item .our-client-img img{
      cursor: pointer;
  opacity: 1;
  transition: all .9s ease;
  filter: grayscale(0) brightness(100%);
transform: scale(1.1);
}

}
    
    
}//end col
   
} 
#sales-main{
padding: 30px 0 20px;
.image{
    position: relative;
    // background: red;
    img{
        // margin-left: 20px;
        display: block;margin: auto;
        
    }
    &::before{
        // .img::after {
position: absolute;
bottom: -20px;
right: -20px;
width: 170px;
height: 170px;
content: " ";
// background-color: rgba(255, 255, 255, 0);
// background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='35' height='35' fill-opacity='0.78' fill='%23cccabe'/%3E%3C/svg%3E);

        // z-index: -4;
// transform: rotate(180deg);
        //    content:'';
        // background: url('asset/img/icon/bg-1.png');
        //     width: 100px;
        //     height: 150px;
        //     background: red;
        //     z-index: 577;
        //     position: absolute;
        //     bottom: -15px;
    } 
}
.content-main{
    margin-top: 15px;
    display: block;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
    text-align: center;
    .content-inner{
        h2{
            color:$color-3;
            line-height: 30px;
        font-size: 29px; font-weight: 800;margin-bottom: 10px}
    p{color:$color-3;line-height: 21px;
        opacity: .8; width: 100%;}   
    }
 
}
.what-we-provide{
    margin-top: 27px;
    text-align: center;
    .title{
        h5{font-size: 30px;color: $color-3;margin-bottom: 20px;}
    }
    .content{
        width: 70%;
        margin: auto;
        padding: 20px;
        box-shadow: $box-shadow;
        margin-bottom: 20px;
        h5{color: $color-2;margin-bottom: 5px;
            font-weight: 600;font-size: 18px}
    }
        
}
}
}//end

@media screen and (max-width: 500px) {
// #service-page-clients{
//         margin-top: -60px;
//         // background: red;
//     .col-md-10.offset-md-1{
//         background: #fff;
//         box-shadow: $box-shadow;
//          .cert-owl-carousel.owl-carousel.owl-theme{ 
//       .item{
//           height: 100%;
//          min-height: 70px; 
//             display: flex;
//       align-items: center;   
      
//       }
// .our-client-img{ width:80%; margin: auto auto }
// .our-client-img img{ width: 100%; height: 100%;
//   filter: grayscale(100%) brightness(120%);
//       opacity: .6;-webkit-filter: grayscale(100%) brightness(120%);
//       transition: all .9s ease;
// }
// .our-client-img img:hover{
//           cursor: pointer;
//       opacity: 1;
//       transition: all .9s ease;
//       filter: grayscale(0) brightness(100%);
// }

// .owl-item.active.center .item .our-client-img img{
//           cursor: pointer;
//       opacity: 1;
//       transition: all .9s ease;
//       filter: grayscale(0) brightness(100%);
//    transform: scale(1.1);
// }

//   }
    
    
//     }//end col
   
//     } 
#sales-main{
padding: 30px 0 20px;
.image{
    position: relative;
    // background: red;
    img{
        // margin-left: 20px;
        display: block;margin: auto;
        
    }
    &::before{
        // .img::after {
position: absolute;
bottom: -20px;
right: -20px;
width: 170px;
height: 170px;
content: " ";
// background-color: rgba(255, 255, 255, 0);
// background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='35' height='35' fill-opacity='0.78' fill='%23cccabe'/%3E%3C/svg%3E);

        // z-index: -4;
// transform: rotate(180deg);
        //    content:'';
        // background: url('asset/img/icon/bg-1.png');
        //     width: 100px;
        //     height: 150px;
        //     background: red;
        //     z-index: 577;
        //     position: absolute;
        //     bottom: -15px;
    } 
}
.content-main{
    margin-top: 15px;
    display: block;
    text-align: center;
    .content-inner{
        h2{
            color:$color-3;
            line-height: 20px;
        font-size: 20px; font-weight: 800;
            margin-bottom: 10px}
    p{color:$color-3;line-height: 21px;
        opacity: .8; width: 100%;}   
    }
 
}
.what-we-provide{
    margin-top: 27px;
    text-align: center;
    .title{
        h5{font-size: 20px;color: $color-3;margin-bottom: 20px;}
    }
    .content{
        width: 100%;
        margin: auto;
        padding: 20px;
        box-shadow: $box-shadow;
        margin-bottom: 20px;
        h5{color: $color-2;margin-bottom: 5px;
            font-weight: 600;font-size: 18px}
    }
        
}
}
}//end