
/* ================================= */
/* ----------- Header CSS ---------- */
/* ================================= */
#header-top {
	background:#022940;
	padding:10px 0;
	margin-bottom: 15px;
}
#header-top_2 #header-top {
	margin-bottom:0;
}
.top_socials > li {
	display: inline-block;
	margin-left:5px;
}
.top_socials li a {
	border: 1px solid #fff;
	color: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	line-height: 33px;
	text-align: center;
	display: block;
	background:transparent;
}
.top_socials li a:hover {
	border: 1px solid #fb2415;
	color: #fff;
	background:#fb2415;
}
.header_top_text p {
  color: #fff;
  padding-top: 8px;
  font-size: 12px;
}
/* ------- HEADER BOTTOM  ------ */
#header-bottom {
	background:#fff;
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom:10px;
	
}
#header-bottom .col-md-10 {
	text-align: right;
}
#header-bottom .get-tuch {
	display: inline-block;
	margin-top:7px;
}
#header-bottom .get-tuch > ul {
	display: inline-block;
}
#header-bottom .get-tuch ul li h4, #header-bottom .get-tuch ul li p {
	padding:0;
	margin:0;
}
#header-bottom .get-tuch ul li h4 {
	color:#022940;
}
#header-bottom .get-tuch i {
	display: inline-block;
	font-size: 34px;
	margin-right: 7px;
	vertical-align: text-bottom;
	color:#fb2415;
}
#header-bottom .get-tech-line {
	display: inline-block;
	padding: 0 15px 0 25px;
	vertical-align: top;
}
/* ------- Navbar - 1  ------ */
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
  text-align: left;
}
.nav_1 > ul {
	background: #fff;
}
.nav_1 .navbar-nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}
.nav_1 .navbar-nav > li {
	display: inline-block;
	float: none;
}
.nav_1 > ul::before {
	background: #fff;
	content: "";
	height: 105px;
	left: -10px;
	position: absolute;
	top: -43px;
	-webkit-transform: rotate(-38deg);
	-moz-transform: rotate(-38deg);
	-ms-transform: rotate(-38deg);
	-o-transform: rotate(-38deg);
	transform: rotate(-38deg);
	width: 66px;
	z-index: -1;
}
.nav_1 > ul::after {
	background: #fff;
	content: "";
	height: 105px;
	position: absolute;
	right: -10px;
	top: -43px;
	-webkit-transform: rotate(38deg);
	-moz-transform: rotate(38deg);
	-ms-transform: rotate(38deg);
	-o-transform: rotate(38deg);
	transform: rotate(38deg);
	width: 66px;
	z-index: -1;
}
#header-top_1 .collapse.navbar-collapse {
	margin-left:0;
}
#header_top_1 {
	background: #fff;
	position: relative;
	z-index: 46;
	border-bottom: 1px solid #dbdbdb;
	padding:10px 0;
}
#header-top_1 .wrap-sticky {
	height: 100% !important;
}
#header-top_1 nav.navbar.bootsnav.sticked {
	background:#fff;
	border-bottom: 1px solid #f8f8f8;
}
nav.navbar.bootsnav ul.nav > li > a {
	font-weight:normal;
	padding: 25px 15px;
	font-size: 14px;
	text-transform:capitalize;
	color:#022940;
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus{
	color: #fb2415;
}
.navbar-right .dropdown-menu {
  left: 0;
}
.navbar-right  > li:last-child .dropdown-menu{
	right: 0;
	left: auto;
} 
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	border:none;
	border-top:3px solid #fb2415;
	width: 200px;
}

.dropdown-menu li a{
	font-size: 13px !important;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle::before {
  margin-left: 15px;
}

nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover, nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus, nav.navbar.bootsnav ul.nav li.active > a:hover, nav.navbar.bootsnav ul.nav li.active > a:focus, nav.navbar.bootsnav ul.nav li.active > a {
	color: #fb2415;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-color: #fb2415;
	color: #fff !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
	background-color: #fb2415;
	color:#fff;
}
#header-top_2  nav.navbar.bootsnav.no-background {
  background-color: #fff;
  height: 70px;
}
#header-top_2 .navbar > .container .navbar-brand, 
#header-top_2 .navbar > .container-fluid .navbar-brand {
  margin:0;
}
#header-top_2 .navbar-brand.sticky_logo {
  background: #fb2415;
  padding: 35px 10px 35px 10px;
}
#header-top_2 .navbar-brand {
  height: 100%;
}
#header-top_2 .wrap-sticky {
  height:auto !important;
}
#header-top_2 nav.navbar.bootsnav ul.nav > li > a {
  padding: 20px 15px;
}
#header-top_2 .wrap-sticky nav.navbar.bootsnav.sticked {
  background: #fff;
  height: 65px;
}
.navbar-brand.mobile-logo {
  display: none;
}
/* ================================= */
/* ----------- Banner CSS ---------- */
/* ================================= */

/* ------- REVOLUTION SLIDER  ------ */
.tp-caption.tp-resizeme .banner_P {
	color: #fff;
  font-size: 18px;
}
#rev_slider_2 .tp-caption.tp-resizeme .banner_P {
	color: #8b8b8b;
}
.tp-caption.tp-resizeme h3.banner_h3, 
.tp-caption.tp-resizeme h2.banner_h2 {
	color: #fff;
	font-size: 45px !important;
	font-weight: normal !important;
	text-transform:uppercase;
}
#rev_slider_2 .tp-caption.tp-resizeme h3.banner_h3, 
#rev_slider_2 .tp-caption.tp-resizeme h2.banner_h2 {
	color: #022940;
}
.tparrows.tp-leftarrow {
	background:url(../images/arrow-left.png) no-repeat;
}
.tparrows.tp-rightarrow {
	background:url(../images/arrow-right.png) no-repeat;
}
.tp-leftarrow, .tp-rightarrow {
	margin:5px;
	height:46px;
	width:46px;
}
.btn_dark, .btn_light{
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 13px 40px;
	vertical-align: middle;
	position: relative;
	line-height: normal;
	font-size: 14px;
}
.btn_dark {
	background: #fb2415;
	color:#fff;
}
.btn_light {
	background: #fff;
	color:#fb2415;
}
#rev_slider_2 .btn_light {
	background: #022940;
	color:#fff;
}
.btn_light:hover,
.btn_dark:hover {
	background:#022940;
	color:#fff;
}
/* --- Real Gym Banner CSS --- */
.banner_3_box h2 {
  font-size: 46px !important;
  color: #fff;
}
.banner_3_box p {
	color:#fff;
	font-size:20px;
}


// /*--------------------------------------------------------------
// # Navbar
// --------------------------------------------------------------*/

// /* ------- HEADER BOTTOM  ------ */
// #header-bottom {
// 	background:#fff;
// 	position: relative;
// 	z-index: 10;
// 	border-bottom: 1px solid #dbdbdb;
// 	padding-bottom:10px;
	
// }
// #header-bottom .col-md-10 {
// 	text-align: right;
// }
// #header-bottom .get-tuch {
// 	display: inline-block;
// 	margin-top:7px;
// }
// #header-bottom .get-tuch > ul {
// 	display: inline-block;
// }
// #header-bottom .get-tuch ul li h4, #header-bottom .get-tuch ul li p {
// 	padding:0;
// 	margin:0;
// }
// #header-bottom .get-tuch ul li h4 {
// 	color:$color-3;
// }
// #header-bottom .get-tuch i {
// 	display: inline-block;
// 	font-size: 34px;
// 	margin-right: 7px;
// 	vertical-align: text-bottom;
// 	// color:$color-1;
//     color:#aaa
// }
// #header-bottom .get-tech-line {
// 	display: inline-block;
// 	padding: 0 15px 0 25px;
// 	vertical-align: top;
// }


// /* --------- Header CSS -------- */
// #header-top_3{
// 	position:absolute;
// 	left:0;
// 	right:0;
// }
// #header-top_3 #header-bottom {
//   background:transparent;
//   padding-top:20px;
//   border-bottom:none;

//   .logo{    
// 	  width: 130%;
//     margin-top: 5px;}
// }
// #header-top_3 #header-bottom .get-tuch ul li h4{
//   color: #fff;
//   font-size:16px;
// }
// #header-top_3 #header-bottom .get-tuch ul li p {
//   color: #fff;
//   font-size:12px;
// }
// #header-top_3 #header-bottom .get-tuch i {
//   font-size: 27px;
//   margin-right: 13px;
//   vertical-align: super;
// }
// #header-top_3 #navbar-menu {
//     background: transparent;
//   // background: #fff;
//     // border-top: 1px solid #aaa;
//         padding-left: 0;padding-right: 0;
//       // background: green;
//     display: flex!important;
//     justify-content: center!important; 
//     .nav.navbar-nav{
//         border-top: 1px solid rgba($bg-3,.4);
        
//         // background: #fff;
//         min-width: 80%;
//         text-align: center;
//         li{
//             min-width: 20%;
//             position: relative;
//             div{
//                 display:flex!important;
//                 flex-direction: column
//             }
//             &:first-child{
//                 // background: red;
//                 text-align: left;
//                 a{padding-left: 0}
//             }
//             &:last-child{
//                 // background: red;
//                 text-align: right;
//                 a{padding-right: 0}
//                 &::before{
//                        display: none
//                     }
                
//             }
//             &::before{
//                         content:"";
//                         width: 2px;
//                         height: 40%;
//                         background: rgba($bg-3,.3);
//                        position: absolute;
//                         transform: translatey(-50%);
//                         top: 50%;
//                                 right: 0;
//                     }
//             &.active{
//                 a:before{
//                    content:""; 
//                     width: 100%;
//                     height: 2px;
//                     background: $color-1;
//                     position: absolute;
//                     top:0;
//                     left: 0;
//                     transform: translatey(-50%)
//                 }
//             }
//                 a{
//                     color: #eee;
//                     padding-top:13px;
//                     padding-bottom:1px;
//                    font-size: 16px;
//                     // border-left: 1px solid rgba(255,255,255,0.09);
//                     // border-right: 1px solid rgba(0,0,0,0.5);
//                     &.active{color:#fff; font-weight: 600;}
//                      &:hover{color:$color-1;transition: $trans1}
                    
//                 }
//             span{font-size: 13px;color:$bg-3}
//         }
//     }
// }
// #header-top_3 .wrap-sticky nav.navbar.bootsnav.sticked {
//   background: #fff;
//     // .navbar-header{
//     //     margin-top: 10px
//     // }
//     .navbar-brand {
//           display: block;
//             img{width: 160px;}
//         }
//     #navbar-menu {
//     background: transparent;
        
//   // background: #fff;
//     // border-top: 1px solid #aaa;
//         padding-left: 0;padding-right: 0;
//       // background: green;
//     display: flex!important;
//     justify-content: center!important; 
//     .nav.navbar-nav{
//         border-top: 1px solid rgba($bg-3,.4);
        
//         // background: #fff;
//         min-width: 80%;
//         text-align: center;
//         li{
//             min-width: 15%;
//             position: static;
//             // div{
//             //     display:flex!important;
//             //     flex-direction: column
//             // }
//             &:first-child{
//                 // background: red;
//                 text-align: center;
//                 // a{padding-left: 0}
//             }
//             &:last-child{
//                 // background: red;
//                 text-align: center;
//                 // a{padding-right: 0}
//                 // &::before{
//                 //        display: none
//                 //     }
                
//             }
//             &::before{
//                  display: none;
//                        //  content:"";
//                        //  width: 2px;
//                        //  height: 40%;
//                        //  background: rgba($bg-3,.3);
//                        // position: absolute;
//                        //  transform: translatey(-50%);
//                        //  top: 50%;
//                        //          right: 0;
//                     }
//             &.active{
//                 a:before{
//                     display: none;
//                    // content:""; 
//                    //  width: 100%;
//                    //  height: 2px;
//                    //  background: $color-1;
//                    //  position: absolute;
//                    //  top:0;
//                    //  left: 0;
//                    //  transform: translatey(-50%)
//                 }
//             }
//                 a{
//                     color: $color-3;
//                     padding-top:25px;
//                     padding-bottom:25px;
//                    font-size: 16px;
//                     &.active{color:$color-1; }
//                      &:hover{color:$color-1;transition: $trans1}
                    
//                 }
//             span{display: none}
//         }
//     }
// }
//   // border-bottom:1px solid #e5e4e4;
    
    
// }






// //==============================================================
// //===============================================================
// //               responsive                                  
// //==============================================================
// //================================================================
// @media screen and (max-width: 500px) and (min-width: 300px) {
//  .desktop{display: none;}
//  #header-top_3 #header-bottom{padding-top: 0;    padding-bottom: 0px}
// .navbar-default {
//     padding:0 16px;
//    .navbar-nav{
//        .nav-item{
//          padding-bottom: 0;
//            .nav-link{
//                padding:  2px;
//                &:before{bottom: 3px}
//            }
//        }
//    }
//  }
   

  
// }