@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?a3e10f1d7853075080a0c7b0ef2469cb") format("truetype"),
url("./flaticon.woff?a3e10f1d7853075080a0c7b0ef2469cb") format("woff"),
url("./flaticon.woff2?a3e10f1d7853075080a0c7b0ef2469cb") format("woff2"),
url("./flaticon.eot?a3e10f1d7853075080a0c7b0ef2469cb#iefix") format("embedded-opentype"),
url("./flaticon.svg?a3e10f1d7853075080a0c7b0ef2469cb#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-target:before {
    content: "\f101";
}
.flaticon-binoculars:before {
    content: "\f102";
}
.flaticon-diamond:before {
    content: "\f103";
}
